albums.dtd

<!DOCTYPE albums [
        <!ELEMENT albums (album+)>
        <!ELEMENT album (title, artist?, tracklist)>
        <!ATTLIST album media CD #REQUIRED>
        <!ELEMENT title (#PCDATA)>
        <!ELEMENT artist (#PCDATA)>
        <!ELEMENT tracklist (track+)>
        <!ELEMENT track (#PCDATA)>
        <!ATTLIST track duration CDATA #REQUIRED>
        ]>
